.icon-em-zdxfgb{
	background:url('zdxfgb.png') no-repeat;
}
.icon-em-zdxfqy{
	background:url('zdxfqy.png') no-repeat;
}
.icon-em-sqkt{
	background:url('sqkt.png') no-repeat;
}
.icon-em-fjgnqy{
	background:url('fjgnqy.png') no-repeat;
}
.icon-em-fjgnty{
	background:url('fjgnty.png') no-repeat;
}
.icon-em-fjgnxf{
	background:url('fjgnxf.png') no-repeat;
}
.icon-em-ckqyxx{
	background:url('ckqyxx.png') no-repeat;
}
.icon-em-dhsz{
	background:url('dhsz.png') no-repeat;
}
.icon-em-fjgn{
	background:url('fjgn.png') no-repeat;
}
.icon-em-ghtcsq{
	background:url('ghtcsq.png') no-repeat;
}
.icon-em-qyxf{
	background:url('qyxf.png') no-repeat;
}
.icon-em-qyzw{
	background:url('qyzw.png') no-repeat;
}
.icon-em-szkf{
	background:url('szkf.png') no-repeat;
}
.icon-em-hmdsz{
	background:url('hmdsz.png') no-repeat;
}
.icon-em-jrsjsz{
	background:url('jrsjsz.png') no-repeat;
}
.icon-em-jrsz {
	background:url(jrsz.png) no-repeat;
}
.icon-em-zxsz {
	background:url(zxsz.png) no-repeat;
}
.icon-em-jbsz {
	background:url(jbsz.png) no-repeat;
}
.icon-em-zx {
	background:url(zx.png) no-repeat;
}
.icon-em-zxqy {
	background:url(zxqy.png) no-repeat;
}
.icon-em-xgsq {
	background:url(xgsq.png) no-repeat;
}
.icon-em-gzz {
	background:url(gzz.png) no-repeat;
}
.icon-em-ivr {
	background:url(ivr.png) no-repeat;
}
.icon-em-jrh {
	background:url(jrh.png) no-repeat;
}
.icon-em-ivrcl {
	background:url(ivr_cl.png) no-repeat;
}
.icon-em-ivrfssh {
	background:url(ivr_fssh.png) no-repeat;
}
.icon-em-ivrfwm {
	background:url(ivr_fwm.png) no-repeat;
}
.icon-em-ivrzly {
	background:url(ivr_zly.png) no-repeat;
}
.icon-em-ivrzzx {
	background:url(ivr_zzx.png) no-repeat;
}
.icon-em-ghld {
	background:url(ghld.png) no-repeat;
}
.icon-em-jyxx {
	background:url(jyxx.png) no-repeat;
}
.icon-em-qyfy {
	background:url(qyfy.png) no-repeat;
}
.icon-em-qygh {
	background:url(qygh.png) no-repeat;
}