
@{
    ViewBag.Title = "LoginTruckForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/ZH/js/app/YdkManage/Car/LoginTruckForm.js"></script>
<form id="form1"> 
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">提货单号</th>
                <td class="formValue">
                    <input id="F_OrderNo" name="F_OrderNo" type="text" class="form-control required" disabled/>
                </td>
            </tr>
            <tr>
                <th class="formTitle">库区编号</th>
                <td class="formValue">
                    <input id="F_WMSCode" name="F_WMSCode" type="text" class="form-control required" disabled/>
                </td>
            </tr>
            <tr>
                <th class="formTitle">提货单位</th>
                <td class="formValue">
                    <input id="F_Company" name="F_Company" type="text" class="form-control required" disabled/>
                </td>
            </tr>
            <tr>
                <th class="formTitle">车牌号</th>
                <td class="formValue">
                    <input id="F_TruckNo" name="F_TruckNo" type="text" class="form-control required" disabled/>
                </td>
            </tr>
            <tr>
                <th class="formTitle">毛重(吨)：</th>
                <td class="formValue">
                    <input id="F_GrossWeight" name="F_GrossWeight" type="text" class="form-control required number"   />
                </td>
            </tr>
            <tr>
                <th class="formTitle">皮重(吨)：</th>
                <td class="formValue">
                    <input id="F_TruckWeight" name="F_TruckWeight" type="text" class="form-control required number"   />
                </td>
            </tr>

            <tr>
                <th class="formTitle">净重(吨)：</th>
                <td class="formValue">
                    <input id="F_NetWeight" name="F_NetWeight" type="text" class="form-control required number" />
                </td>
            </tr>   

        </table>
    </div>
</form>

