<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="CloudDB" connectionString="data source=192.168.1.121;Initial Catalog=WMSOSPS;User ID=sa;Password=Password123;Connect Timeout=30;Trusted_Connection=False"/>
  <add name="ExamCloudDBEntities" connectionString="metadata=res://*/CloudContext.CloudDB.csdl|res://*/CloudContext.CloudDB.ssdl|res://*/CloudContext.CloudDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.121;initial catalog=WMSOSPS;persist security info=True;user id=sa;password=Password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>