<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 域名地址--> 
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Session" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!--启用IP过滤 -->
  <add key="IsIPFilter" value="false" />
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="" />
  <!-- 软件名称 -->
  <add key="SoftName" value="" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" /> 
  
  <add key="LicenceKey" value="83eda07f-ead3-4050-bcee-4f41e57a7e16" /> 
  
  <add key="UploadPath" value="/Ashx/UploadHandler.ashx"/>
  
  <add key="FilePath" value="D:\\projects\Mypro\\Government.Exampplication\\Exam.Cloud.Web\\CloudSaveFile\\"/>

  <add key="AttachCK" value="http://localhost:61940/CloudSaveFile/"/>
</appSettings>