.icon-am-bmgl{
	background:url('bmgl.png') no-repeat;
}
.icon-am-dlgs{
	background:url('dlgs.png') no-repeat;
}
.icon-am-fygl{
	background:url('fygl.png') no-repeat;
}
.icon-am-zlyj{
	background:url('zlyj.png') no-repeat;
}
.icon-am-tjxj{
	background:url('tjxj.png') no-repeat;
}
.icon-am-fymx{
	background:url('fymx.png') no-repeat;
}
.icon-am-dlsh{
	background:url('dlsh.png') no-repeat;
}
.icon-am-ewgnf{
	background:url('ewgnf.png') no-repeat;
}
.icon-am-fkgn{
	background:url('fkgn.png') no-repeat;
}
.icon-am-fyjs{
	background:url('fyjs.png') no-repeat;
}
.icon-am-zyfy{
	background:url('zyfy.png') no-repeat;
}
.icon-am-dl1{
	background:url('dl1.png') no-repeat;
}
.icon-am-dl2{
	background:url('dl2.png') no-repeat;
}
.icon-am-dl3{
	background:url('dl3.png') no-repeat;
}
.icon-am-dl4{
	background:url('dl4.png') no-repeat;
}