@charset "utf-8";
html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow:hidden;
}
body{
	background-image: url(top_bg.png);
	background-repeat: repeat-x;
}
.logo {
	background-image: url(logo.png);
	background-repeat: no-repeat;
	height: 86px;
	width: 865px;
	margin:54px auto 0px auto
}
.login {
	background-image: url(theme.png);
	background-repeat: no-repeat;
	height: 490px;
	width: 1000px;
	position: relative;
	background-position: left top;
	margin:0px auto 0px auto
}
*:focus { outline: none; 
}
.clear{clear:both}
.login_panel {
	position: absolute;
	top: 52px;
	right: 20px;
	background-image: url(login_winbg.png);
	background-repeat: no-repeat;
	width: 410px;
	height: 359px;
}
.user_info{
	height: 102px;
	width: 260px;
	position:relative;
	top:51px;
	top:54px\0;
	*top:54px;
	left:110px;
}
.login_panel .user_info ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.login_panel .user_info ul .user_name, .login_panel .user_info ul .password {
	height: 45px;
	padding: 0px;
	margin: 0px;
	width: 360px;
}
.login_panel .user_info ul .password { margin-top: 24px; 
}

.login_panel .user_info ul li input {
	height: 33px;
	width: 250px;
	border: none;
	font-size: 16px;
	font-family: "微软雅黑", "黑体";
	margin-top: 0px;
	padding-left:10px;
	background-color: transparent;
}
.login_panel .test input {
	height: 33px;
	float: left;
	font-size: 16px;
	font-family: "微软雅黑", "黑体";
	width: 90px;
	border: none;
	background-color: transparent;
	margin-top: 104px;
	margin-top: 109px\0;
	*margin-top: 108px;
	_margin-top: 76px;
	margin-left: 110px;
	padding:0px 10px;
}
.login_panel a.btn_login {
	background-image: url(login_bt1.png);
	background-repeat: no-repeat;
	height: 52px;
	width: 343px;
	display: block;
	margin-top: 168px;
	_margin-top: 136px;
	margin-left:34px;
	position:relative
}
.login_panel a:hover.btn_login {
	background-image: url(login_bt2.png);
	background-repeat: no-repeat;
}
.login_panel .remenber {
	font-size: 12px;
	margin-top: 20px;
}
.login_panel .remenber label span {
	padding-top: 1px;
	padding-left: 3px;
	float: left;
	cursor: default;
	font-size: 12px;
	font-family: "微软雅黑", "黑体";
}
.login_panel .remenber label input { float: left; }
.foot {
	height: 60px;
	text-align: center;
	bottom: 0px;
	position: absolute;
	width: 100%;
	font-size: 14px;
	left: 0px;
	color: #333;
	line-height: 1.8em;
	font-family: "微软雅黑", "黑体";
	background-position: left bottom;
	z-index: 1112;
}
.findPassword a{ color: #36F; font-family:"微软雅黑", "黑体"; font-size:14px; cursor:pointer}
.findPassword a:hover{ color: #F60; }
