/*小图标*/
.icon_SmallSpan {
    background: url('/Image/LogoSmall.png') no-repeat center center;
}
.icon-am{ background-position: 0 0; width: 15px; height: 15px; } 
.icon-bi{ background-position: 0 -20px; width: 15px; height: 15px; } 
.icon-bm{ background-position: 0 -40px; width: 15px; height: 15px; } 
.icon-cdgl{ background-position: 0 -60px; width: 15px; height: 15px; } 
.icon-cm{ background-position: 0 -80px; width: 15px; height: 15px; } 
.icon-csdh{ background-position: 0 -100px; width: 15px; height: 15px; } 
.icon-czjl{ background-position: 0 -120px; width: 15px; height: 15px; } 
.icon-dhsz{ background-position: 0 -140px; width: 15px; height: 15px; } 
.icon-dlfy{ background-position: 0 -160px; width: 15px; height: 15px; } 
.icon-dlsh{ background-position: 0 -180px; width: 15px; height: 15px; } 
.icon-dlyz{ background-position: 0 -200px; width: 15px; height: 15px; } 
.icon-dlzh{ background-position: 0 -220px; width: 15px; height: 15px; } 
.icon-dqyj{ background-position: 0 -240px; width: 15px; height: 15px; } 
.icon-drhd{ background-position: 0 -260px; width: 15px; height: 15px; } 
.icon-dxqf{ background-position: 0 -280px; width: 15px; height: 15px; } 
.icon-ei{ background-position: 0 -300px; width: 15px; height: 15px; } 
.icon-em{ background-position: 0 -320px; width: 15px; height: 15px; } 
.icon-eu{ background-position: 0 -340px; width: 15px; height: 15px; } 
.icon-fjgn{ background-position: 0 -360px; width: 15px; height: 15px; } 
.icon-fjgnyj{ background-position: 0 -380px; width: 15px; height: 15px; } 
.icon-flcx{ background-position: 0 -400px; width: 15px; height: 15px; } 
.icon-fllx{ background-position: 0 -420px; width: 15px; height: 15px; } 
.icon-fyye{ background-position: 0 -440px; width: 15px; height: 15px; } 
.icon-fyyj{ background-position: 0 -460px; width: 15px; height: 15px; } 
.icon-gsxx{ background-position: 0 -480px; width: 15px; height: 15px; } 
.icon-gzsg{ background-position: 0 -500px; width: 15px; height: 15px; } 
.icon-hdlx{ background-position: 0 -520px; width: 15px; height: 15px; } 
.icon-hjly{ background-position: 0 -540px; width: 15px; height: 15px; } 
.icon-hmgx{ background-position: 0 -560px; width: 15px; height: 15px; } 
.icon-hmlx{ background-position: 0 -580px; width: 15px; height: 15px; } 
.icon-hmyz{ background-position: 0 -600px; width: 15px; height: 15px; } 
.icon-hylx{ background-position: 0 -620px; width: 15px; height: 15px; } 
.icon-jbfl{ background-position: 0 -640px; width: 15px; height: 15px; } 
.icon-jtzj{ background-position: 0 -660px; width: 15px; height: 15px; } 
.icon-jyxx{ background-position: 0 -680px; width: 15px; height: 15px; } 
.icon-khgl{ background-position: 0 -700px; width: 15px; height: 15px; } 
.icon-ktgl{ background-position: 0 -720px; width: 15px; height: 15px; } 
.icon-kxhm{ background-position: 0 -740px; width: 15px; height: 15px; } 
.icon-lch{ background-position: 0 -760px; width: 15px; height: 15px; } 
.icon-lhcx{ background-position: 0 -780px; width: 15px; height: 15px; } 
.icon-lhdx{ background-position: 0 -800px; width: 15px; height: 15px; } 
.icon-lxb{ background-position: 0 -820px; width: 15px; height: 15px; } 
.icon-lxbth{ background-position: 0 -840px; width: 15px; height: 15px; } 
.icon-lyxx{ background-position: 0 -860px; width: 15px; height: 15px; } 
.icon-ni{ background-position: 0 -880px; width: 15px; height: 15px; } 
.icon-nm{ background-position: 0 -900px; width: 15px; height: 15px; } 
.icon-ptcs{ background-position: 0 -920px; width: 15px; height: 15px; } 
.icon-ptgg{ background-position: 0 -940px; width: 15px; height: 15px; } 
.icon-qhgl{ background-position: 0 -960px; width: 15px; height: 15px; } 
.icon-qyfjgn{ background-position: 0 -980px; width: 15px; height: 15px; } 
.icon-qygg{ background-position: 0 -1000px; width: 15px; height: 15px; } 
.icon-qygl{ background-position: 0 -1020px; width: 15px; height: 15px; } 
.icon-qyhm{ background-position: 0 -1040px; width: 15px; height: 15px; } 
.icon-qysz{ background-position: 0 -1060px; width: 15px; height: 15px; } 
.icon-rzxx{ background-position: 0 -1080px; width: 15px; height: 15px; } 
.icon-sm{ background-position: 0 -1100px; width: 15px; height: 15px; } 
.icon-sxhm{ background-position: 0 -1120px; width: 15px; height: 15px; } 
.icon-syss{ background-position: 0 -1140px; width: 15px; height: 15px; } 
.icon-tcgl{ background-position: 0 -1160px; width: 15px; height: 15px; } 
.icon-tcxx{ background-position: 0 -1180px; width: 15px; height: 15px; } 
.icon-tjbb{ background-position: 0 -1200px; width: 15px; height: 15px; } 
.icon-wgxx{ background-position: 0 -1220px; width: 15px; height: 15px; } 
.icon-xggl{ background-position: 0 -1240px; width: 15px; height: 15px; } 
.icon-xgmm{ background-position: 0 -1260px; width: 15px; height: 15px; } 
.icon-xgtc{ background-position: 0 -1280px; width: 15px; height: 15px; } 
.icon-xtjs{ background-position: 0 -1300px; width: 15px; height: 15px; } 
.icon-xtrz{ background-position: 0 -1320px; width: 15px; height: 15px; } 
.icon-xtyy{ background-position: 0 -1340px; width: 15px; height: 15px; } 
.icon-xtzh{ background-position: 0 -1360px; width: 15px; height: 15px; } 
.icon-xtzm{ background-position: 0 -1380px; width: 15px; height: 15px; } 
.icon-yzsh{ background-position: 0 -1400px; width: 15px; height: 15px; } 
.icon-zlxz{ background-position: 0 -1420px; width: 15px; height: 15px; } 
.icon-zlzysh{ background-position: 0 -1440px; width: 15px; height: 15px; } 
.icon-zm{ background-position: 0 -1460px; width: 15px; height: 15px; } 
.icon-zxsz{ background-position: 0 -1480px; width: 15px; height: 15px; } 



/*大图标*/
.icon_BigSpan {
    background: url('/Image/LogoBig.png') no-repeat center center;
}
.icon-addkjmenu{ background-position: 5px 0; width: 45px; height: 45px; } 
.icon-am_B{ background-position: 5px -50px; width: 45px; height: 45px; } 
.icon-bi_B{ background-position: 5px -100px; width: 45px; height: 45px; } 
.icon-bm_B{ background-position: 5px -150px; width: 45px; height: 45px; } 
.icon-cdgl_B{ background-position: 5px -200px; width: 45px; height: 45px; } 
.icon-csdh_B{ background-position: 5px -250px; width: 45px; height: 45px; } 
.icon-czjl_B{ background-position: 5px -300px; width: 45px; height: 45px; } 
.icon-dhsz_B{ background-position: 5px -350px; width: 45px; height: 45px; } 
.icon-dlfy_B{ background-position: 5px -400px; width: 45px; height: 45px; } 
.icon-dlsh_B{ background-position: 5px -450px; width: 45px; height: 45px; } 
.icon-dlyz_B{ background-position: 5px -500px; width: 45px; height: 45px; } 
.icon-dlzh_B{ background-position: 5px -550px; width: 45px; height: 45px; } 
.icon-dqyj_B{ background-position: 5px -600px; width: 45px; height: 45px; } 
.icon-drhd_B{ background-position: 5px -650px; width: 45px; height: 45px; } 
.icon-dxqf_B{ background-position: 5px -700px; width: 45px; height: 45px; } 
.icon-em_B{ background-position: 5px -750px; width: 45px; height: 45px; } 
.icon-fjgn_B{ background-position: 5px -800px; width: 45px; height: 45px; } 
.icon-fjgnyj_B{ background-position: 5px -850px; width: 45px; height: 45px; } 
.icon-flcx_B{ background-position: 5px -900px; width: 45px; height: 45px; } 
.icon-fllx_B{ background-position: 5px -950px; width: 45px; height: 45px; } 
.icon-fyye_B{ background-position: 5px -1000px; width: 45px; height: 45px; } 
.icon-fyyj_B{ background-position: 5px -1050px; width: 45px; height: 45px; } 
.icon-gsxx_B{ background-position: 5px -1100px; width: 45px; height: 45px; } 
.icon-gzsg_B{ background-position: 5px -1150px; width: 45px; height: 45px; } 
.icon-hdlx_B{ background-position: 5px -1200px; width: 45px; height: 45px; } 
.icon-hjly_B{ background-position: 5px -1250px; width: 45px; height: 46px; } 
.icon-hmgx_B{ background-position: 5px -1301px; width: 45px; height: 45px; } 
.icon-hmlx_B{ background-position: 5px -1351px; width: 45px; height: 45px; } 
.icon-hmycx_B{ background-position: 5px -1401px; width: 45px; height: 45px; } 
.icon-hmyz_B{ background-position: 5px -1451px; width: 45px; height: 45px; } 
.icon-hylx_B{ background-position: 5px -1501px; width: 45px; height: 45px; } 
.icon-jbfl_B{ background-position: 5px -1551px; width: 45px; height: 45px; } 
.icon-jtzj_B{ background-position: 5px -1601px; width: 45px; height: 45px; } 
.icon-jyxx_B{ background-position: 5px -1651px; width: 45px; height: 45px; } 
.icon-khgl_B{ background-position: 5px -1701px; width: 45px; height: 45px; } 
.icon-ktgl_B{ background-position: 5px -1751px; width: 45px; height: 46px; } 
.icon-kxhm_B{ background-position: 5px -1802px; width: 45px; height: 45px; } 
.icon-lch_B{ background-position: 5px -1852px; width: 45px; height: 46px; } 
.icon-lhcx_B{ background-position: 5px -1903px; width: 45px; height: 45px; } 
.icon-lhdx_B{ background-position: 5px -1953px; width: 45px; height: 45px; } 
.icon-lxb_B{ background-position: -45px 0; width: 45px; height: 45px; } 
.icon-lxbth_B{ background-position: -45px -50px; width: 45px; height: 45px; } 
.icon-lyxx_B{ background-position: -45px -100px; width: 45px; height: 45px; } 
.icon-nm_B{ background-position: -45px -150px; width: 45px; height: 45px; } 
.icon-ptcs_B{ background-position: -45px -200px; width: 45px; height: 45px; } 
.icon-ptgg_B{ background-position: -45px -250px; width: 45px; height: 45px; } 
.icon-qhgl_B{ background-position: -45px -300px; width: 45px; height: 45px; } 
.icon-qyfjgn_B{ background-position: -45px -350px; width: 45px; height: 45px; } 
.icon-qygg_B{ background-position: -45px -400px; width: 45px; height: 45px; } 
.icon-qygl_B{ background-position: -45px -450px; width: 45px; height: 45px; } 
.icon-qyhm_B{ background-position: -45px -500px; width: 45px; height: 45px; } 
.icon-qysz_B{ background-position: -45px -550px; width: 45px; height: 45px; } 
.icon-rzxx_B{ background-position: -45px -600px; width: 45px; height: 45px; } 
.icon-sxhm_B{ background-position: -45px -650px; width: 45px; height: 45px; } 
.icon-syss_B{ background-position: -45px -700px; width: 45px; height: 45px; } 
.icon-tcgl_B{ background-position: -45px -750px; width: 45px; height: 45px; } 
.icon-tcxx_B{ background-position: -45px -800px; width: 45px; height: 45px; } 
.icon-tjbb_B{ background-position: -45px -850px; width: 45px; height: 45px; } 
.icon-wgxx_B{ background-position: -45px -900px; width: 45px; height: 45px; } 
.icon-xggl_B{ background-position: -45px -950px; width: 45px; height: 45px; } 
.icon-xgmm_B{ background-position: -45px -1000px; width: 45px; height: 45px; } 
.icon-xgtc_B{ background-position: -45px -1050px; width: 45px; height: 45px; } 
.icon-xtjs_B{ background-position: -45px -1100px; width: 45px; height: 45px; } 
.icon-xtrz_B{ background-position: -45px -1150px; width: 45px; height: 45px; } 
.icon-xtyy_B{ background-position: -45px -1200px; width: 45px; height: 45px; } 
.icon-xtzh_B{ background-position: -45px -1250px; width: 45px; height: 45px; } 
.icon-xtzm_B{ background-position: -45px -1300px; width: 45px; height: 45px; } 
.icon-yzsh_B{ background-position: -45px -1350px; width: 45px; height: 45px; } 
.icon-zlxz_B{ background-position: -45px -1400px; width: 45px; height: 45px; } 
.icon-zlzysh_B{ background-position: -45px -1450px; width: 45px; height: 45px; } 
.icon-zxsz_B{ background-position: -45px -1500px; width: 45px; height: 45px; } 